[submodule "repos/vertex-texture-cache"]
	path = repos/vertex-texture-cache
	url = https://github.com/sneha-belkhale/vertex-texture-cache
[submodule "repos/360-photo-to-video"]
	path = repos/360-photo-to-video
	url = https://github.com/sneha-belkhale/360-photo-to-video
